//Keep em alphabetized meow....

//Fonts
$fontPrimaryLight:"Segoe UI Light";
$fontPrimaryRegular:"Segoe UI";
$fontPrimarySemibold:"Segoe UI Semibold";

//Colors
$colorBlack:#000000;
$colorWhite:#FFFFFF;