body {
	overflow-x: hidden;
	overflow-y: hidden;
	color: #000;
	font-family: $fontPrimaryRegular;
	font-size: 16px;
	padding: 1em;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

sup {
	vertical-align: top;
	@include fontSuperscript();
}

sub {
	@include fontDisclaimer();
}